---
title: Sobre mim
permalink: /br/about-me
language: pt-BR
layout: default
description: >-
    Meu nome é Fernando. Sou desenvolvedor Java a mais de 6 anos, estou continuamente
    me especializando e compartilhando conhecimento com a comunidade.
---
{% include bio/_svgs.html %}
<div class="typing-text">
    <h1 class="typying-node" lang="en">
        Olá, meu nome é <span class="dark-bg-text">Fernando Comunello</span>.
    </h1>
</div>
<div class="about-me">
    <aside class="profile-info">
        <img class="profile-avatar" src="/assets/img/profile.jpeg"
             title="Camiseta que a Red Hat costuma entregar para novos contribuidores :-)"
             alt="Eu vestindo a camiseta: I Made Quarkus 3.0">
        <p>
            <strong>Desenvolvedor Java</strong> há seis anos, sendo quatro profissionais.
            Aos <strong>21 anos de idade</strong>, busco me especializar cada vez mais
            com o intuito de projetar sistemas robustos e escaláveis.
        </p>
        <section class="certifications-section">
            <header>
                <h2>Certificações</h2>
            </header>
            <ul class="certifications">
                <li style="text-decoration: underline; cursor: pointer">
                    <a target="_blank" style="color: black"
                       href="/assets/img/certifications/oracle-associate.png">
                        Oracle Cloud Infrastructure Associate
                    </a>
                </li>
                <li style="text-decoration: underline; cursor: pointer">
                    <a target="_blank" style="color: black"
                       href="/assets/img/certifications/oracle-database-19c-marathon-dbaocm.png">
                        Workshop Oracle 19c DBAOCM
                    </a>
                </li>
            </ul>
            <h3>Badges</h3>
            <ul class="badges">
                <li>
                    <a target="_blank"
                       href="https://catalog-education.oracle.com/pls/certview/sharebadge?id=DAFA897E7F7581DF6FC860A4CBC2F615E2F37F9761A5EA41593972338377B16A">
                        <img class="badge" src="/assets/img/certifications/oci-associate-badge.png"
                             alt="Badge da certificação Oracle Cloud Infrastructure Foundations Associate (2021)"
                             title="Badge da certificação OCI Infrastructure Foundations Associate (2021)">
                    </a>
                </li>
            </ul>
        </section>
    </aside>
    <section class="career-section">
        <header>
            <h2 lang="en">
                E esta á a minha <span class="dark-bg-text">linha do tempo</span> da TI:
            </h2>
            <a style="text-decoration: underline"
               href="#first-step-into-it">acompanhar desde o início</a>
        </header>
        <div class="timeline"
             data-js-clip-content
             data-js-clip-toast="URL de compartilhamento copiada!">
            <ul class="timeline-list">
                <li id="joining-open-source" class="timeline-item">
                    <div class="timeline-item-content">
                        {% include bio/pt-br/_5-joining-open-source.html %}
                    </div>
                </li>
                <li id="big-challenges-phase" class="timeline-item">
                    <div class="timeline-item-content">
                        {% include bio/pt-br/_4-big-challenges-at-work.html %}
                    </div>
                </li>
                <li id="performed-at-work" class="timeline-item">
                    <div class="timeline-item-content">
                        {% include bio/pt-br/_3-performed-at-work.html %}
                    </div>
                </li>
                <li id="first-job" class="timeline-item">
                    <div class="timeline-item-content">
                        {% include bio/pt-br/_2-first-job.html %}
                    </div>
                </li>
                <li id="first-step-into-it" class="timeline-item">
                    <div class="timeline-item-content">
                        {% include bio/pt-br/_1-first-step-into-it.html %}
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>