<h3 class="timeline-item-title" data-js-clip="first-step-into-it">
    # COMO EU CONHECI A LINGUAGEM JAVA?
</h3>
<a href="#first-job" class="timeline-go-to-next-item">
    <i class="bi bi-caret-up-square-fill"></i>
</a>
<span class="timeline-item-date">~ 2017</span>
<p><strong>Em meados de 2017, aos 14 anos</strong>, eu comecei, por curiosidade, pesquisar formas de
    desenvolver os meus próprios
    <a target="_blank" href="https://www.spigotmc.org/wiki/about-spigot/">Plugins Spigot</a>
    para um servidor de <a target="_blank" href="https://www.minecraft.net/en-us/about-minecraft">Minecraft</a>
    para que eu conseguisse oferecer uma experiência de jogo exclusiva aos players.

<p>Assim que descobri que <strong>os plugins eram escritos em Java</strong>, me interessei pela linguagem
    e decidi passar alguns meses estudando
    <a target="_blank" href="https://dev.java">Java</a>
    e <a target="_blank" href="https://en.wikipedia.org/wiki/SQL">SQL</a>,
    assim eu poderia desenvolver
    os meus próprios plugins que dependiam do armazenamento e consulta de diversos dados
    dos players in-game.
    Para alguém que sabia apenas configurar plugins em
    <a target="_blank" href="https://yaml.org">YAML</a> baixados
    do repositório do Spigot certamente <strong>não seria uma tarefa simples</strong>, levando em consideração
    que eu ainda não tinha tido o contato com nenhuma linguagem de programação, nessa época
    apenas tive contato com HTML & CSS, que aprendi em um treinamento
    disponibilizado nos sábados pela <strong>UTFPR</strong>, universidade federal da região.</p>

<p>Então decidi seguir em frente <strong>buscando por fontes de aprendizado</strong> e encontrei
    <a target="_blank" href="https://www.youtube.com/watch?v=NZDzuve7kho&list=PLxQNfKs8YwvGhXHbHtxtoB-tRRv6r3Rlr">
        estas vídeo-aulas</a> de Java SE 7 da
    <strong>universidade XTI</strong> no YouTube, eu costumava a praticar
    e assistir as aulas todos os dias assim que chegava da escola, o
    <a target="_blank" href="https://docs.oracle.com/javase/tutorial/index.html">tutorial oficial</a>
    da linguagem também foi de grande importância nos meus estudos.
    Além disso, realizei um <strong>curso e avaliação de fundamentos de SQL</strong> da
    <a target="_blank" href="https://www.softblue.com.br">Softblue</a>,
    que também disponibilizava treinamentos de Java avançado na época.</p>

<p><strong>No entanto</strong>, para que fosse possível manter o servidor on-line 24/7
    com os plugins que eu estava desenvolvendo, era necessário manter um contrato mensal com
    um serviço de VPS Linux, então percebi
    que talvez seria o momento de encontrar um <strong>trabalho de jovem aprendiz</strong>
    ...</p>

<img src="/assets/img/minecraft-alpha.png"
     alt="Launcher do Minecraft: Java Edition">