<h3 class="timeline-item-title" data-js-clip="first-step-into-it"
    title="Share link" aria-label="Copy sharing link to the clipboard">
    # HOW DID I DISCOVER THE JAVA LANGUAGE?
</h3>
<a href="#first-job" class="timeline-go-to-next-item"
   title="Go to next timeline phase"
   aria-label="Go to the next IT timeline phase">
    <i class="bi bi-caret-up-square-fill"></i>
</a>
<span class="timeline-item-date">~ 2017</span>
<p><strong>In mid-2017, at the age of 14</strong>, I started, out of curiosity, researching ways to
    develop my own
    <a target="_blank" href="https://www.spigotmc.org/wiki/about-spigot/">Spigot Plugins</a>
    to a <a target="_blank" href="https://www.minecraft.net/en-us/about-minecraft">Minecraft</a> server
    so that I could offer an exclusive gaming experience to the players.</p>

<p>As soon as I discovered that <strong>plugins were written in Java</strong>, I became interested in the language
    and decided to spend a few months studying
    <a target="_blank" href="https://dev.java">Java</a>
    and <a target="_blank" href="https://en.wikipedia.org/wiki/SQL">SQL</a>,
    so I could develop
    my own plugins that depended on storing and querying data
    of in-game players.
    For someone who only knew how to configure plugins in
    <a target="_blank" href="https://yaml.org">YAML</a> downloaded
    from the Spigot repository would certainly <strong>not be a simple task</strong>, taking into account
    that I had not yet had contact with any programming language at that time
    I only had contact with HTML & CSS, which I learned in training
    made on Saturdays by <strong>UTFPR</strong>, the region's federal university.</p>

<p>So I decided to move on <strong>looking for Java trainings</strong> and I found
    <a target="_blank" href="https://www.youtube.com/watch?v=NZDzuve7kho&list=PLxQNfKs8YwvGhXHbHtxtoB-tRRv6r3Rlr">
        these Java SE 7 video lessons</a> from
        <strong>XTI university</strong> on YouTube, I used to practice
        and attend classes every day as soon as I got home from school. The
        <a target="_blank" href="https://docs.oracle.com/javase/tutorial/index.html">official Java's tutorial</a>
        was also of great importance in my studies.
        In addition, I took a <strong>SQL fundamentals course</strong> from
        <a target="_blank" href="https://www.softblue.com.br">Softblue</a>,
        which also provided advanced Java training at the time.</p>

<p><strong>However</strong> to make it possible to keep the server online 24/7
    with the plugins I was developing, it was necessary to maintain a monthly contract with
    a Linux VPS service, then I realized
    that perhaps it would be time to find a <strong>job as a trainee</strong>...</p>

<img src="/assets/img/minecraft-alpha.png"
     title="Minecraft: Java Edition"
     alt="Minecraft: Java Edition Launcher">