<h3 class="timeline-item-title" data-js-clip="first-job"
    title="Share link" aria-label="Copy sharing link to the clipboard">
    # MY FIRST JOB
</h3>
<a href="#performed-at-work" class="timeline-go-to-next-item"
   title="Go to next timeline phase"
   aria-label="Go to the next IT timeline phase">
    <i class="bi bi-caret-up-square-fill"></i>
</a>
<img src="/assets/img/agrotitan/agrotitan.png"
     title="VIASOFT's Agrotitan"
     alt="VIASOFT Agrotitan software logo"
     style="width: 4%" class="timeline-item-logo">

<span class="timeline-item-date">February, 2018</span>
<p>It was then that I got my <strong>first work experience</strong>
    as a Java web/mobile programmer at
    <strong>VIASOFT</strong> when I was <strong>15 years old</strong>,
    I started with the <strong>development of solutions
        into the agribusiness sector</strong> while balancing school and work
    part time.
</p>
<p>I had the great opportunity to learn different technologies
    when joining the team
    <a target="_blank"
       href="https://viasoft.com.br/agrotitan/">CRM | Agrotitan</a>
    after doing the
    <a href="https://univiasoft.com.br/elearning" target="_blank">company e-learnings</a>,
    delving deeper not only into Java SE 7/8 but also into the specification
    <a target="_blank" href="https://www.oracle.com/java/technologies/javaee/javaeetechnologies.html#javaee7">Java EE
        7</a>
    using the application server
    <a target="_blank" href="https://www.oracle.com/middleware/technologies/glassfish-server.html">GlassFish</a>, the
    <a target="_blank" href="https://spring.io/projects/spring-framework">Spring Framework</a> and
    <a target="_blank" href="https://hibernate.org/orm/">Hibernate ORM</a> — and beyond
    <i>HTML</i>, <i>CSS</i> and <i>JavaScript</i>, I also learned
    server-side rendering (SSR) using
    <a target="_blank" href="https://jakarta.ee/specifications/faces">JSF</a> and
    <a target="_blank" href="https://jakarta.ee/specifications/pages">JSP</a>
</p>

<p>I also had my first contact with mobile programming using Java and
    <a target="_blank" href="https://developer.android.com">Android API</a>, working on
    development of a CRM application whose main requirement was
    operating completely offline so that farmers could
    save your work even if they are far away from an internet network, it was
    a challenging requirement
    as it relies on the data being synchronized with the online RDBMS
    (<a target="_blank" href="https://www.oracle.com/br/database">Oracle</a>
    , <a target="_blank" href="https://firebirdsql.org/en/firebird-rdbms">Firebird</a>)
    and offline (<a target="_blank" href="https://www.sqlite.org/index.html">SQLite</a>).
</p>

<p><strong>Samples of my work carried at the company:</strong>
<ul>
    <li>I implemented a
        <strong class="green-text-highlight">
            <a class="thumbnail-link" target="_blank"
               href="https://nimitz.atlassian.net/wiki/spaces/DPU/pages/3033956372/Relat+rio+Financial#CRM-Web">
                Financial Summary
                <div class="thumbnail-img-wrapper">
                    <img class="thumbnail-img"
                         title="VIASOFT CRM Financial Summary Screen"
                         alt="Financial Summary Screen of VIASOFT WEB CRM software"
                         src="/assets/img/agrotitan/web-financial-summary-feature.png">
                    <br/>CRM Web » Reports » Financial Summary
                </div>
            </a>
        </strong>.
    </li>
    <li>Periodic maintenance of business rules of
        <strong class="green-text-highlight">
            <a class="thumbnail-link" target="_blank"
               href="https://youtu.be/IzBrCSytoDw">
                Milk Collection
                <div class="thumbnail-img-wrapper">
                    <img class="thumbnail-img"
                         title="Milk Collection Screen of the VIASOFT CRM application"
                         alt="Milk Collection screen of the VIASOFT CRM application"
                         src="/assets/img/agrotitan/mobile-milk-collection-feature.png">
                    <br/>CRM Mobile » Milk Collection
                </div>
            </a>
        </strong>.
    </li>
    <li>Periodic maintenance of
        <a target="_blank" href="https://nimitz.atlassian.net/wiki/spaces/DPU/pages/3014328420">
            Orders</a> business rules.
    </li>
    <li>i18n improvements, among other tasks.</li>
</ul>
</p>