<h3 class="timeline-item-title" data-js-clip="performed-at-work"
    title="Share link" aria-label="Copy sharing link to the clipboard">
    # PERFORMED AT WORK
</h3>
<a href="#big-challenges-phase" class="timeline-go-to-next-item"
   title="Go to next timeline phase"
   aria-label="Go to the next IT timeline phase">
    <i class="bi bi-caret-up-square-fill"></i>
</a>
<img src="/assets/img/agrotitan/agrotitan.png"
     title="Agrotitan da VIASOFT"
     alt="Logomarca do software Agrotitan da VIASOFT"
     style="width: 4%" class="timeline-item-logo">

<span class="timeline-item-date">January, 2020</span>
<p>After I <strong>graduated from high school</strong>, my employment contract passed
    for full time, working in person at the company until then.
    And in the first quarter of the year I started working remotely, solving
    the most varied problems, developing improvements and new
    features.</p>
<div>
    <strong>Main works:</strong>
    <ul>
        <li>Refactoring of
            <strong class="green-text-highlight">
                <a class="thumbnail-link" target="_blank"
                   href="https://www.youtube.com/watch?v=Rif3K-h-HWg">
                    Barter Exchange
                    <div class="thumbnail-img-wrapper" style="width:30%">
                        <img class="thumbnail-img"
                             title="Tela de Barter do aplicativo de CRM da VIASOFT"
                             alt="Tela de Barter do aplicativo de CRM da VIASOFT"
                             src="/assets/img/agrotitan/mobile-barter-feature.png">
                        <br/>CRM Mobile » Barter.
                    </div>
                </a>
            </strong> system.
            <p>The purpose of the Barter is to exchange agricultural materials
                for a portion of future production, using the materaisl as a guarantee of payment.
                The changes included in the refactoring were of great importance for
                the clients.
            </p>
        </li>

        <li>Implementation of a
            <strong class="green-text-highlight">
                <a class="thumbnail-link" target="_blank"
                   href="https://nimitz.atlassian.net/wiki/spaces/DPU/pages/3060793455/Produtos+CRM">
                    Products Price Aggregator
                    <div class="thumbnail-img-wrapper" style="width: 65%">
                        <img class="thumbnail-img"
                             alt="VIASOFT CRM Product Inquiry Screen"
                             src="/assets/img/agrotitan/web-product-prices-feature.png">
                        <br/>CRM Web » Product Consultation.
                    </div>
                </a>
            </strong>.
            <p>Several companies selling agricultural inputs use this routine as an aid
                in agility and sales.</p>
        </li>

        <li>Implementation of
            <strong class="green-text-highlight">
                <a class="thumbnail-link" target="_blank"
                   href="https://nimitz.atlassian.net/wiki/spaces/DPU/pages/2993750041/Emiss+o+de+Visita">
                    Audio Recording
                    <div class="thumbnail-img-wrapper" style="width: 50%">
                        <img class="thumbnail-img"
                             title="Demonstration of audio recording in VIASOFT CRM"
                             alt="Demonstration of audio recording in Technical Visits in VIASOFT CRM"
                             src="/assets/img/agrotitan/mobile-audio-recording-feature.png">
                        <br/>CRM Web » Technical Visit.
                    </div>
                </a>
            </strong>as attachments
            of technical visits made in farms.
            <p>
                It was a big challenge in which I had to implement a communication interface via
                <a target="_blank"
                   href="https://docs.oracle.com/javase/8/docs/technotes/guides/jni/spec/design.html">JNI
                </a> to execute C instructions in the Android JVM - thus making it possible
                the encode/decode of audios in .mp3 format with compression through the
                <a target="_blank" href="https://lame.sourceforge.io/">LAME Project</a>.
            </p>
        </li>
    </ul>
</div>
<br>
<div class="video-container">
    <iframe width="560" height="315" lang="pt-BR"
            src="https://www.youtube.com/embed/oKjlo7T07_Q?si=vt8tEjcHs28hpEC0&amp;controls=0&amp;start=118"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
</div>