<div class="container">
    <section class="footer-social-media">
        <nav role="navigation">
            <ul>
                <li>
                    <a href="{{ site.github.owner_url }}/{{ site.repo_name }}"
                       target="_blank" lang="en"
                       title="Blog's git repo"
                       aria-label="See the code repository of this website">
                        <i class="bi bi-code-slash"></i>
                    </a>
                </li>

                <li>
                    <a href="{{ site.github.owner_url }}" target="_blank"
                       title="Follow me on GitHub"
                       aria-label="Follow me on GitHub" lang="en">
                        <i class="bi bi-github"></i>
                    </a>
                </li>

                <li >
                    <a href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank"
                       title="See me on Linkedin"
                       aria-label="See me on Linkedin" lang="en">
                        <i class="bi bi-linkedin"></i>
                    </a>
                </li>

                <li>
                    <a href="https://youtube.com/@{{ site.youtube_username }}" target="_blank"
                       title="Subscribe to my YouTube channel"
                       aria-label="Visit my Youtube channel" lang="en">
                        <i class="bi bi-youtube"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"
                       title="Follow me on Twitter / X"
                       aria-label="Follow me on Twitter / X" lang="en">
                        <i class="bi bi-twitter"></i>
                    </a>
                </li>
            </ul>
        </nav>

    </section>

    <span class="footer-copyright-text">
        <p>&copy; Fernando Comunello, 2023</p>
        <small>
             <i class="bi bi-cup-hot-fill"></i>
            Last static build: {{ site.time | date: '%B %d' }}
        </small>
    </span>
</div>