<h4 style="margin-top: 1em" lang="en">Open-source</h4>
<ul lang="en"
    style="display: flex; flex-direction: column; gap: 1em; margin-bottom: 2em">

    <li>Contributed for
        <a target="_blank" href="https://htmx.org"
           title="HTMX website" aria-label="HTMX website">HTMX</a>
        with
        <a href="https://github.com/bigskysoftware/htmx/pull/2024"
           target="_blank">
            Pull #18097:
        </a>
        <p style="font-family: 'Consolas', monospace; font-size: .90em">
            Improve head tag parsing on template fragments, fix
            <a href="https://github.com/bigskysoftware/htmx/issues/2018"
               target="_blank">#2018</a>.
        </p>
    </li>

    <li>Discussion on
        <a href="https://github.com/casid/template-benchmark/pull/2#issuecomment-1826098943"
           target="_blank">
            JTE Benchmark Pull #2:
        </a>
        <p style="font-family: 'Consolas', monospace; font-size: .90em">
            Fine-tune the Qute benchmark.
        </p>
    </li>

    <li>Contributed on
        <a target="_blank" href="https://quarkus.io"
           title="Quarkus website" aria-label="Quarkus website">Quarkus</a>
        with
        <a href="https://github.com/quarkusio/quarkus/pull/27372"
           target="_blank">
            Pull #18097:
        </a>
        <p style="font-family: 'Consolas', monospace; font-size: .90em">
            Improve live reload experience of external artifacts on dev mode, fix
            <a href="https://github.com/quarkusio/quarkus/issues/2724"
               target="_blank">#27242</a>.
        </p>
        <a class="thumbnail-link" target="_blank"
           href="/assets/img/contributions/quarkus-greetings.png"
            style="font-size: .90em">
            "I Made Quarkus 3.0" T-Shirt
            <div class="thumbnail-img-wrapper"
                 style="width: 12%; font-weight: normal">
                You were selected based on your GitHub contribution(s) since the 2.1 release.
            </div>
        </a>

        <i style="font-size: .90em">and a
            <a target="_blank"
               href="https://twitter.com/fercomunello/status/1637890465759371274">
                special thanks</a> for @aloubyansky too.
        </i>
    </li>

    <li>Helped on
        <a target="_blank" href="https://quarkus.io"
           title="Quarkus website" aria-label="Quarkus website">Quarkus</a>
        with
        <a href="https://github.com/quarkusio/quarkus/issues/18097#issuecomment-1211493653"
           target="_blank">
            Issue #18097:
        </a>
        <p style="font-family: 'Consolas', monospace; font-size: .90em">
            Slow start of CLI, missing the supersonic effect.
        </p>
    </li>

    <li>Helped on
        <a target="_blank" href="https://quarkus.io"
           title="Quarkus website" aria-label="Quarkus website">Quarkus</a>
        with
        <a href="https://github.com/quarkusio/quarkus/issues/10987#issuecomment-1214508373"
           target="_blank">
            Issue #10987:
        </a>
        <p style="font-family: 'Consolas', monospace; font-size: .90em">
            Kotlin Multiplatform Plugin + Gradle + Quarkus Dev.
        </p>
    </li>
</ul>