.thumbnail-link {
    .thumbnail-img-wrapper {
        width: 60%;
        position: absolute;
        background-color: #000000;
        padding: 5px;
        display: none;
        border-radius: .3em;
        color: white;
        text-decoration: none;

        .thumbnail-img {
            border-width: 0;
            padding: 2px;
        }
    }

    &:hover .thumbnail-img-wrapper {
        display: block;
        z-index: var(--z-index-thumbnail-wrapper);
        left: 260px;
        animation: fadein .8s;

        @keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
    }
}

@media (max-width: 1280px) {
    .thumbnail-link {
        .thumbnail-img-wrapper {
            width: 80%;
        }
    }
}
