html {
    scroll-behavior: smooth;
}

.scroll-to-top {
    cursor: pointer;
    bottom: 20px;
    margin-right: .7em;
    place-self: end;
    color: black;
    font-size: 2.2em;

    position: fixed;

    transform: translateY(100px);
    transition: all 0.5s ease;

    z-index: var(--z-index-scroll-button);
    opacity: 0;

    &.-show {
        opacity: 1;
        transform: translateY(0);
    }
}