@import 'reset';
@import 'header';

:root {
    --font-size: 1rem;
    --container-width: 85vw;
}

body {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: var(--font-size);
    font-family: 'Arial', sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 1.5;
    --webkit-font-smoothing: antialiased;
    --moz-osx-font-smoothing: grayscale;

    a {
        color: #1072f3;
        text-decoration: underline;
    }
}

.container {
    width: var(--container-width);
    margin: 0 calc((100vw - var(--container-width)) / 2);
    height: auto;

    @media (max-width: 650px) {
        :root {
            --container-width: 95vw;
        }
        width: var(--container-width);
        margin: 0 1rem;
    }
}

#content {
    margin-top: 16px;
}

.dark-bg-text {
    background: black;
    color: white;
    padding: 5px;
    border-radius: 6px;
}

button {
    font-size: inherit;
}

p {
    font-size: inherit;
}

h1 {
    font-size: calc(1.6 * var(--font-size));
}

h2 {
    font-size: calc(1.5 * var(--font-size));
}

h3 {
    font-size: calc(1.4 * var(--font-size));
}

h4 {
    font-size: calc(1.3 * var(--font-size));
}

h5 {
    font-size: calc(1.2 * var(--font-size));
}

h6 {
    font-size: calc(1.1 * var(--font-size));
}