<h3 class="timeline-item-title" data-js-clip="first-job"
    title="Copiar link" aria-label="Copiar link de compartilhamento">
    # PRIMEIRO EMPREGO
</h3>
<a href="#performed-at-work" class="timeline-go-to-next-item"
   title="Próxima fase da linha do tempo"
   aria-label="Avançar para a próxima fase da linha do tempo">
    <i class="bi bi-caret-up-square-fill"></i>
</a>
<img src="/assets/img/agrotitan/agrotitan.png"
     title="Agrotitan da VIASOFT"
     alt="Logomarca do software Agrotitan da VIASOFT"
     style="width: 4%" class="timeline-item-logo">

<span class="timeline-item-date">Fevereiro, 2018</span>
<p>Foi então que consegui a minha <strong>primeira experiência</strong> de trabalho
    como programador Java web/mobile na
    <strong>VIASOFT</strong> aos meus <strong>15 anos de idade</strong>,
    comecei com o <strong>desenvolvimento de soluções
        para o setor de agronegócio</strong> enquanto conciliava a escola e o trabalho
    meio periódo.
</p>
<p>Tive a grande oportunidade de mergulhar em diversas tecnologias
    ao ingressar na equipe
    <a target="_blank"
       href="https://viasoft.com.br/agrotitan/">CRM | Agrotitan</a>
    após realizar os
    <a href="https://univiasoft.com.br/elearning" target="_blank">e-learnings da empresa</a>,
    me aprofundando não apenas no Java SE 7/8 mas também na especificação
    <a target="_blank" href="https://www.oracle.com/java/technologies/javaee/javaeetechnologies.html#javaee7">Java EE
        7</a>
    utilizando o servidor de aplicação
    <a target="_blank" href="https://www.oracle.com/middleware/technologies/glassfish-server.html">GlassFish</a>, o
    <a target="_blank" href="https://spring.io/projects/spring-framework">Spring Framework</a> e
    <a target="_blank" href="https://hibernate.org/orm/">Hibernate ORM</a> — e além de
    <i>HTML</i>, <i>CSS</i> e <i>JavaScript</i>, aprendi
    renderização server-side (SSR) usando
    <a target="_blank" href="https://jakarta.ee/specifications/faces">JSF</a> e
    <a target="_blank" href="https://jakarta.ee/specifications/pages">JSP</a>
</p>

<p>Também tive o meu primeiro contato com mobile usando Java e a
    <a target="_blank" href="https://developer.android.com">API Android</a>, trabalhando no
    desenvolvimento de um aplicativo de CRM que tinha como requisito principal
    o funcionamento totalmente off-line para que os agricultores conseguissem
    registrar seu trabalho mesmo no meio do campo, era um requisito desafiador
    pois dependia que os dados estivessem sincronizados com o RDBMS on-line
    (<a target="_blank" href="https://www.oracle.com/br/database">Oracle</a>
    , <a target="_blank" href="https://firebirdsql.org/en/firebird-rdbms">Firebird</a>)
    e off-line (<a target="_blank" href="https://www.sqlite.org/index.html">SQLite</a>).
</p>

<p><strong>Alguns dos meus trabalhos realizados:</strong>
<ul>
    <li>Realizei a implementação de uma tela de
        <strong class="green-text-highlight">
            <a class="thumbnail-link" target="_blank"
               href="https://nimitz.atlassian.net/wiki/spaces/DPU/pages/3033956372/Relat+rio+Financeiro#CRM-Web">
                Resumo Financeiro
                <div class="thumbnail-img-wrapper">
                    <img class="thumbnail-img"
                         title="Tela de Resumo Financeiro do CRM VIASOFT"
                         alt="Tela de Resumo Financeiro do software de CRM WEB da VIASOFT"
                         src="/assets/img/agrotitan/web-financial-summary-feature.png">
                    <br/>CRM Web » Relatórios » Resumo Financeiro
                </div>
            </a>
        </strong>.
    </li>
    <li>Manutenções períodicas nas regras de negócio de
        <strong class="green-text-highlight">
            <a class="thumbnail-link" target="_blank"
               href="https://youtu.be/IzBrCSytoDw">
                Coleta de Leite
                <div class="thumbnail-img-wrapper">
                    <img class="thumbnail-img"
                         title="Tela de Coleta de Leite do aplicativo de CRM da VIASOFT"
                         alt="Tela de Coleta de Leite do aplicativo de CRM da VIASOFT"
                         src="/assets/img/agrotitan/mobile-milk-collection-feature.png">
                    <br/>CRM Mobile » Coleta
                </div>
            </a>
        </strong>.
    </li>
    <li>Manutenções períodicas na rotina de
        <a target="_blank" href="https://nimitz.atlassian.net/wiki/spaces/DPU/pages/3014328420">
            Emissão de Pedidos</a>.
    </li>
    <li>Melhorias de i18n (internacionalização), dentre outras tarefas.</li>
</ul>
</p>