<h3 class="timeline-item-title" data-js-clip="performed-at-work"
    title="Copiar link" aria-label="Copiar link de compartilhamento">
    # EVOLUINDO NO CARGO
</h3>
<a href="#big-challenges-phase" class="timeline-go-to-next-item"
   title="Próxima fase da linha do tempo"
   aria-label="Avançar para a próxima fase da linha do tempo">
    <i class="bi bi-caret-up-square-fill"></i>
</a>
<img src="/assets/img/agrotitan/agrotitan.png"
     title="Agrotitan da VIASOFT"
     alt="Logomarca do software Agrotitan da VIASOFT"
     style="width: 4%" class="timeline-item-logo">

<span class="timeline-item-date">Janeiro, 2020</span>
<p>Após me <strong>formar no ensino médio</strong>, meu contrato de trabalho passou
    para período integral, trabalhando presencialmente na empresa até então.
    E logo no primeiro trimestre do ano passei a trabalhar em modalidade remota, resolvendo
    os mais variados problemas, desenvolvendo melhorias e novas
    funcionalidades.</p>

<div>
    <strong>Principais trabalhos:</strong>
    <ul>
        <li>Refatoração do
            <strong class="green-text-highlight">
                <a class="thumbnail-link" target="_blank"
                   href="https://www.youtube.com/watch?v=Rif3K-h-HWg">
                    Programa de Troca Barter
                    <div class="thumbnail-img-wrapper" style="width:30%">
                        <img class="thumbnail-img"
                             title="Tela de Barter do aplicativo de CRM da VIASOFT"
                             alt="Tela de Barter do aplicativo de CRM da VIASOFT"
                             src="/assets/img/agrotitan/mobile-barter-feature.png">
                        <br/>CRM Mobile » Barter.
                    </div>
                </a>
            </strong>.
            <p>A finalidade do Barter é realizar trocas de insumos por uma parcela
                de produção futura, usando os insumos como uma garantia de pagamento.
                As mudanças contempladas na refatoração foram de grande importância para
                os clientes.
            </p>
        </li>

        <li>Implementação de um
            <strong class="green-text-highlight">
                <a class="thumbnail-link" target="_blank"
                   href="https://nimitz.atlassian.net/wiki/spaces/DPU/pages/3060793455/Produtos+CRM">
                    Agregador de Preços
                    <div class="thumbnail-img-wrapper" style="width: 65%">
                        <img class="thumbnail-img"
                             alt="Tela de Consulta de Produtos do CRM da VIASOFT"
                             src="/assets/img/agrotitan/web-product-prices-feature.png">
                        <br/>CRM Web » Consulta de Produtos.
                    </div>
                </a>
            </strong> para produtos agrícolas.
            <p>Diversas empresas vendedoras de insumos agrícolas utilizam esta rotina por auxiliar
                na agilidade e nas vendas.</p>
        </li>

        <li>Implementação da
            <strong class="green-text-highlight">
                <a class="thumbnail-link" target="_blank"
                   href="https://nimitz.atlassian.net/wiki/spaces/DPU/pages/2993750041/Emiss+o+de+Visita">
                    Gravação de Áudios
                    <div class="thumbnail-img-wrapper" style="width: 50%">
                        <img class="thumbnail-img"
                             title="Demonstração de gravação de áudios no CRM da VIASOFT"
                             alt="Demonstração de gravação de áudios em Visitas Técnicas no CRM da VIASOFT"
                             src="/assets/img/agrotitan/mobile-audio-recording-feature.png">
                        <br/>CRM Web » Visita Técnica.
                    </div>
                </a>
            </strong>como anexos
            de visitas técnicas feitas no campo.
            <p>
                Foi um grande desafio no qual tive que implementar uma interface de comunicação via
                <a target="_blank"
                   href="https://docs.oracle.com/javase/8/docs/technotes/guides/jni/spec/design.html">JNI
                </a> para executar instruções em C na JVM do Android - viabilizando assim
                o encode/decode dos áudios em formato .mp3 com compressão através do
                <a target="_blank" href="https://lame.sourceforge.io/">LAME Project</a>.
            </p>
        </li>
    </ul>
</div>
<br>
<div class="video-container">
    <iframe width="560" height="315"
            src="https://www.youtube.com/embed/oKjlo7T07_Q?si=vt8tEjcHs28hpEC0&amp;controls=0&amp;start=118"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
</div>