{% assign html_lang = 'en' %}
{% assign content_lang = 'en' %}

{% if page.language %}
    {% assign content_lang = page.language %}
    {% assign html_lang = page.language %}
{% endif %}

<!DOCTYPE html>
<html lang="{{ html_lang }}" translate="no">
    <head>
        <meta charset="utf-8">
        <title>{{ site.title }}: {{ page.title }}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% if page.description %}
            <meta name="description" content="{{ page.description }}">
            <meta name="og:description" content="{{ page.description }}">
        {% else %}
            {% if page.language == 'pt-BR' %}
                <meta name="description" content="{{ site.description_br }}">
                <meta name="og:description" content="{{ site.description_br }}">
            {% else %}
                <meta name="description" content="{{ site.description }}">
                <meta name="og:description" content="{{ site.description }}">
            {% endif %}

        {% endif %}
        <meta name="author" content="Fernando Comunello"/>

        <meta name="robots" content="index,follow">
        <meta name="google" content="notranslate">

        <meta property="og:title" content="{{ site.title }}: {{ page.title }}"/>
        <meta property="og:site_name" lang="en" content="{{ site.title }}"/>
        <meta property="og:image" content="/assets/img/banner.png" itemprop="image"/>
        <meta property="og:image:alt" lang="en" content="@ferjava youtube channel banner"/>
        <meta property="og:determiner" content="the"/>
        <meta property="og:type" content="blog"/>

        <meta name="twitter:title" content="{{ site.title }}: {{ page.title }}"/>
        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:site" content="@fercomunello"/>
        <meta name="twitter:creator" content="@fercomunello"/>

        {% if page.language == 'pt-BR' %}
            <meta name="og:locale" content="pt_BR" />
        {% else %}
            <meta name="og:locale" content="en_US" />
        {% endif %}
        <meta name="og:locale:alternate" content="pt_BR"/>
        <meta name="og:locale:alternate" content="en_US"/>

        <link rel="icon" type="image/png" href="/assets/duke-mascot.png">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="/assets/css/styles.css">

        {% if page.url contains '/about-me' %}
            <link rel="stylesheet" href="/assets/css/pages/about-me.css">
        {% endif %}

        <script defer src="/assets/js/behaviour/scroll-to-top.js"></script>
        <script defer src="/assets/js/behaviour/clip-content.js"></script>
    </head>
    <body>
        <header class="blog-menu">
            {% include _header.html %}
        </header>

        <noscript class="container">
            <p class="warning">
                <i class="bi bi-exclamation-triangle-fill" aria-hidden="true"></i>
                {% if page.language == 'pt-BR' %}
                    Ops, o JavaScript está desabilitado em seu navegador.
                    Este site funciona mesmo sem scripts, mas se deseja obter uma melhor
                    experiência, é recomendado manter habilitado.
                {% else %}
                    Ops, JavaScript is disabled in your browser.
                    This website will continue to work without scripts, but for the optimal
                    experience, it is recommended enabling it.
                {% endif %}
            </p>
        </noscript>

        <main class="blog-content container"
              lang="{{ content_lang }}" translate="no">
            <div class="d-flex-column container">
                {{ content }}
            </div>
        </main>

        <footer class="blog-footer" data-js-footer-target>
            {% include _footer.html %}
        </footer>

        {% if page.language == 'pt-BR' %}
            <a class="scroll-to-top" href="#" data-js-scroll-to-top
               title="Voltar para o topo"
               aria-label="Voltar para o topo da página">
                <i class="bi bi-arrow-up-square-fill"></i>
            </a>
        {% else %}
            <a class="scroll-to-top" href="#" data-js-scroll-to-top
               title="Scroll to the top"
               aria-label="Scroll to the top of the page">
                <i class="bi bi-arrow-up-square-fill"></i>
            </a>
        {% endif %}

    </body>
</html>