<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }} | @ferjava</title>

        <link rel="stylesheet" href="/assets/css/styles.css">
        {% if page.url == '/about-me' %}
            <link rel="stylesheet" href="/assets/css/pages/about-me.css">
        {% endif %}
    </head>
    <body>
        <header id="menu">
            {% include navigation.html %}
        </header>
        <main id="content" class="container">
            {{ content }}
        </main>
        <footer class="container">
            <br>
            {% if site.github.is_project_page %}
                <p>Follow me on Github:
                    <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>
                </p>
            {% endif %}
            {{ date_to_string }}
            <p>Blog hosted on GitHub Pages &copy; - {{ site.time | date: '%Y' }}.</p>
        </footer>
    </body>
</html>