{% capture language %}
    {% assign html_lang = 'en' %}
    {% if page.language %}
        {% assign content_lang = page.language %}
    {% else %}
        {% assign content_lang = 'en' %}
    {% endif %}
{% endcapture %}

<!DOCTYPE html>
<html lang="{{ html_lang }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ site.description }}">
        <meta name="robots" content="index,follow">

        <title>{{ page.title }}</title>

        <link rel="icon" type="image/png" href="/assets/duke-mascot.png">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="/assets/css/styles.css">

        {% if page.url == '/about-me' or page.url == '/about-me-pt-br' %}
            <link rel="stylesheet" href="/assets/css/pages/about-me.css">
        {% endif %}

        <script defer src="/assets/js/behaviour/scroll-to-top.js"></script>
        <script defer src="/assets/js/behaviour/clip-content.js"></script>
    </head>
    <body>
        <header class="blog-menu">
            {% include _header.html %}
        </header>

        <noscript class="container">
            <p class="warning">
                <i class="bi bi-exclamation-triangle-fill" aria-hidden="true"></i>
                Ops, JavaScript is disabled in your browser.
                For the optimal experience, it is recommend enabling it.
            </p>
        </noscript>

        <main class="blog-content container" lang="{{ content_lang }}">
            <div class="d-flex-column container">
                {{ content }}
            </div>
        </main>

        <footer class="blog-footer" data-js-footer-target>
            {% include _footer.html %}
        </footer>

        <a class="scroll-to-top" href="#" data-js-scroll-to-top>
            <i class="bi bi-arrow-up-square-fill"></i>
        </a>
    </body>
</html>